
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family: 'Montserrat', sans-serif;
$xlg-text: 50px;
$lg-text: 30px;
$md-text: 20px;
$sm-text: 16px;
$xsm-text: 13px;

$normal-text: normal;
$bold-text: bold;
$bolder-text: bolder;

// Colors
$blue: #386bad;
$indigo: #6574cd;
$purple: #5a38ad;
$gray: #616161;
$gray-md: #cccccc;
$white: #ffffff;
$white-dark: #f4f4f4;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
