* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Montserrat', Arial;
    font-size: 16px;
    height: 100%;
    margin: 0px;
    width: 100%;
}

/*Header styles*/
.header {
    align-items: center;
    background-color: #fff;
    color: #616161;
    display: flex;
    flex-flow: row wrap;
    height: 65px;
    justify-content: space-between;
    left: 0px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

/*Navigation menu styles*/
.nav {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: auto;
}
.nav .hmenu {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
}
    .nav .hmenu li {
        position: relative;
    }
        .nav .hmenu li a {
            color: #616161;
            border-bottom: 0px solid #fff;
            display: block;
            font-size: 14px;
            font-weight: 400;
            height: 65px;
            line-height: 65px;
            padding: 0px 15px;
            text-decoration: none;
            transition: all 0.4s ease;
        }
            
            .nav .hmenu li:hover a,
            .nav .hmenu li a:hover,
            .nav .hmenu li a:active {
                background-color: #386bad;
                border-bottom-width: 3px;
                color: #fff;
            }

/*Authentication menu styles*/
.auth-menu ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
}
    .auth-menu ul li {
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }
        .auth-menu ul li:last-child {
            padding-right: 0px;
        }
            .auth-menu ul li a {
                display: block;
                color: #000;
                font-size: 14px;
                font-weight: 400;
                padding: 0px 0px;
                text-decoration: none;
            }